@using com.softpine.muvany.component.Components.Generals
@using com.softpine.muvany.component.Dialogs.Seguridad
@using com.softpine.muvany.component.States.User;
@using com.softpine.muvany.component.Tools;

@inherits ResetPasswordState


<div class="PageContent">
<ProgressLineComponent ShowLoading="@StaticValues.IsLoading"/>
<ForgotPasswordDialog DialogVisible="@ShowForgotDialog" Sent="@OnForgotAction" />
<MudText Typo="Typo.h5">Reiniciar Contraseña</MudText>

<MudCard>
    <MudForm @ref="Form" Model="ResetForm" @bind-IsValid="@Success" @bind-Errors="@Errors" Validation="@(Validator.ValidateValue)" ValidationDelay="0">
        <MudCardContent>
            <MudTextField @bind-Value="ResetForm.Email" Label="Email" For="@(() => ResetForm.Email)" Immediate="true" />
                <MudTextField @bind-Value="ResetForm.Password" Label="Contraseña" InputType="InputType.Password" For="@(() => ResetForm.Password)" Immediate="true" />
            <MudTextField @bind-Value="ResetForm.ConfirmPassword" Label="Confirmar contraseña" InputType="InputType.Password" For="@(() => ResetForm.ConfirmPassword)" Immediate="true" />
             <MudTextField @bind-Value="ResetForm.ValidationCode" Label="Código validación" InputType="InputType.Number" For="@(() => ResetForm.ValidationCode)" Immediate="true" />
                <MudButton Variant="Variant.Text" OnClick="@ForgotPassword">Enviar de nuevo</MudButton>

        </MudCardContent>
    </MudForm>
    <MudCardActions>
        <SaveIconButtonComponent OnClick="ResetPassword"/>
        <CencelIconButtonComponent OnClick="@OnCancel" />
    </MudCardActions>
</MudCard>

</div>
